<script>
  $(function () {
    $('.ui.dropdown.item').dropdown()
    $('.selectall').on('click', function () {
      $('.ui.checkbox').checkbox('check')
    })
    $('.unselectall').on('click', function () {
      $('.ui.checkbox').checkbox('uncheck')
    })
    $('.checkstatus').on('click', function () {
      $('.checkstatus').toggleClass('disabled')
    })
  })
</script>
</body>

</html>