<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sistema de denúncias públicas</title>
  <base href="/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <% include scripts %>
</head>

<body>
  <div class="ui top fixed inverted menu">
    <div class="item">
      <h2>
        <i class="icon leaf"></i>
      </h2>
    </div>
    <a href="/" class="item">Página inicial</a>
    <a href="/charts" class="item">Estatísticas</a>

    <div class="right menu">
      <div class="item">
        <div style="width:100%">
        <div class="ui transparent inverted icon input" style="width:100%">
          <form action="/" method="get" style="width:100%">
            <input class="prompt" placeholder="Procurar em denúncias..." name="search" type="text" style="width:100%">
          </form>
          <i class="search link icon"></i>
        </div>
        </div>
      </div>
      <% if (user) { %>
      <div class="ui dropdown item">
        Olá, <% if (user.nome) { %> <%= user.nome.split(' ')[0] %> <% } else { %> <%= user.username %> <% } %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/denuncias/new" class="item">Abrir denúncia</a>
          <a href="/usuarios/<%= user._id %>" class="item">Painel de controle</a>
          <% if (user.isAdmin) { %>
          <a href="/admin" class="item">Painel de controle admin</a>
          <% } %>
          <a href="/logout" class="item">Sair</a>
        </div>
      </div>
      <% } else { %>
      <a href="/login" class="active green item">Entrar</a>
      <a href="/register" class="item">Cadastrar-se</a>
      <% } %>
    </div>
  </div>

  <div class="ui container messagecontainer">
    <% while (message = flash.shift()) { %>
    <div class="ui <%= message.type %> message">
      <i class="icon">
      <% if (message.type === 'success') { %>
        🎉
      <% } else if (message.type === 'positive') { %>
        😉
      <% } else if (message.type === 'warning') { %>
        📢
      <% } else { %>
        😕
      <% } %>
      </i>
      <%= message.message %>
    </div>
    <% } %>
  </div>
