<% include ../partials/header %>

<div class="ui main container">
  <div class="ui column">
    <h2 class="ui dividing header">Estatísticas</h2>
    <div class="ui two doubling stackable cards">
      <div class="ui card">
        <div class="content">
          <div class="ui bottom right attached label">Total de denúncias abertas</div>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>

<script>
  $(function () {
    $.ajax({
      url: '/charts/denunciada',
      type: 'GET',
      success: function (data) {
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'doughnut',
          data: data
        })
      }
    })
  })

</script>

<% include ../partials/footer %>