<% include partials/header %>

<div class="ui main container">
  <div class="ui segment column">
    <h2>Complemente o seu cadastro</h2>
    <p>A fim de abrir denúncias, é necessário que você complete o seu cadastro. Estes dados são
      considerados necessários pelos órgãos públicos competentes e não serão visíveis a mais ninguém
      dentro de nossa plataforma. Todos os campos são obrigatórios a não ser que esteja
      expressamente especificado.</p>

    <form action="/complete" method="post" class="ui form">
      <div class="two fields">
        <div class="four wide field">
          <label>CPF</label>
          <input pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" id="cpf" type="text" name="cpf" placeholder="000.000.000-00" required>
        </div>
        <div class="twelve wide field">
          <label>Nome</label>
          <input id="nome" type="text" name="nome" placeholder="Nome" required>
        </div>
      </div>

      <div class="three fields">
        <div class="four wide field">
          <label>CEP</label>
          <input pattern="\d{5}-?\d{3}" id="cep" type="text" name="cep" placeholder="00000-000" required>
        </div>
        <div class="nine wide field">
          <label>Rua</label>
          <input id="rua" type="text" name="endereco[rua]" placeholder="Nome da rua" required>
        </div>
        <div class="three wide field">
          <label>Número</label>
          <input type="text" name="endereco[numero]" placeholder="Número" required>
        </div>
      </div>

      <div class="three fields">
        <div class="seven wide field">
          <label>Bairro</label>
          <input id="bairro" type="text" name="endereco[bairro]" placeholder="Bairro" required>
        </div>
        <div class="six wide field">
          <label>Cidade</label>
          <input id="cidade" type="text" name="endereco[cidade]" placeholder="Cidade" required>
        </div>
        <div class="three wide field">
          <label>Estado</label>
          <input id="estado" type="text" name="endereco[estado]" placeholder="Estado" required>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>Telefone para contato</label>
          <input type="text" name="telefone" placeholder="(00) 0000-0000" required>
        </div>
        <div class="field">
          <label>E-mail (opcional)</label>
          <input type="email" name="email" placeholder="E-mail (opcional)">
        </div>
      </div>

      <a href="/" class="ui button">Voltar</a>
      <button class="ui blue button">Finalizar cadastro</button>
    </form>
  </div>
</div>

<script src="//irql.bipbop.com.br/js/jquery.bipbop.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.12/dist/jquery.mask.min.js"></script>
<script src="js/completa.min.js"></script>

<% include partials/footer %>