<% include partials/header %>

<div class="ui main equal width stackable container">
  <div class="column">
    <h2 class="ui dividing header">Últimas denúncias abertas</h2>

    <% if (search) { %>
      <% if (denuncias.length === 0) { %>
      <div class="ui error message">
        <div class="header">
          Não encontramos o que você estava procurando! Talvez isto ajude:
        </div>
        <ul class="list">
          <li>Nós pesquisamos apenas por título, texto e reclamada de cada uma das denúncias.</li>
          <li>Veja se digitou corretamente o texto da busca: <b><%= search %></b>.</li>
          <li>Não era nada disso? <a href="/">Clique aqui</a> para voltar à página inicial.</li>
        </ul>
      </div>
    <% } else { %>
    <div class="ui success message">
      <div class="header">
        Encontramos <%= denuncias.length %> ocorrências
      </div>
      <ul class="list">
        <p>Você buscou por: <b><%= search %></b></p>
      </ul>
    </div>
    <% }} %>

    <div class="ui three doubling stackable cards">
    <% denuncias.forEach(denuncia => { %>
    <a href="/denuncias/<%= denuncia._id %>" class="card">
      <% if (denuncia.imagem) { %>
      <div class="ui fluid image">
        <div class="ui blue right ribbon label">Imagem</div>
        <img src="<%= denuncia.imagem %>">
      </div>
      <% } %>
      <div class="content">
        <div class="header"><%= denuncia.titulo %></div>
        <div class="meta">
          <span><%= denuncia.denunciada.nome %></span>
        </div>
        <% if (!denuncia.imagem) { %> <div class="ui orange right ribbon label">Texto</div>
        <div class="description">
          <p> <%- denuncia.texto.substring(0,400) %> <% if (denuncia.texto.length > 400) { %>...<% } %> </p>
        </div>
        <% } else { %>
        <div class="description">
          <p> <%- denuncia.texto.substring(0,70) %> <% if (denuncia.texto.length > 70) { %>...<% } %> </p>
        </div>
        <% } %>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="<% if (denuncia.status) { %> green check <% } else { %> warning sign <% }%> icon"></i>
        </span>
        <span class="left floated">Aberta <%= moment(denuncia.data).fromNow() %></span>
      </div>
    </a>
    <% }) %>
    </div>
  </div>
</div>

<% include partials/footer %>