<% include partials/header %>

<div class="ui main equal width stackable container">
  <div class="column">
    <h2>Painel de controle de denúncias</h2>

    <form action="/admin/denuncias" method="post">
      <table class="ui compact celled definition table">
        <thead class="full-width">
          <tr>
            <th></th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Autor</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
        <% denuncias.forEach(denuncia => { %>
        <tr>
          <td class="collapsing">
            <div class="ui fitted slider checkbox">
              <input type="hidden" name="<%= denuncia.id %>" value="">
              <input type="checkbox" name="<%= denuncia.id %>" <% if (denuncia.status) { %> checked <% } %>>
              <label></label>
            </div>
          </td>
          <td><a href="/denuncias/<%= denuncia._id %>"><%= denuncia.titulo %></a></td>
          <td style="text-transform:capitalize"><%= denuncia.tipo %></td>
          <td><%= denuncia.autor.username %></td>
          <td><%= moment(denuncia.data).format('DD[/]M[/]Y') %></td>
        </tr>
        <% }) %>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <button class="ui right floated small primary button">
                Confirmar alterações
              </button>
              <div class="ui small button checkstatus selectall">
                Marcar todas
              </div>
              <div class="ui small button disabled checkstatus unselectall">
                Desmarcar todas
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>

<% include partials/footer %>