<% include partials/header %>

<div class="ui main container">
  <div class="ui segment column">
    <h2>Cadastro de usuário</h2>

    <form action="/register" method="post" class="ui form">
      <div class="field">
        <label>Usuário</label>
        <input type="text" name="username" placeholder="Usuário" required>
      </div>
      <div class="field">
        <label>Senha</label>
        <input type="password" name="password" placeholder="Senha" required>
      </div>
      <a href="/" class="ui button">Voltar</a>
      <button class="ui blue button">Finalizar cadastro</button>
    </form>
  </div>
</div>

<% include partials/footer %>