*, html, body {
  font-size: 100%;
}

body {
  background: url('../img/light-wool.png')
}

.messagecontainer {
  padding-bottom: 1em;
  padding-top: 6em;
}

.basic.link.button,
.basic.link.button:hover {
  box-shadow: none;
}