<% include ../partials/header %>

<div class="ui main stackable container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h2 class="ui dividing header">Olá <%= usuario.username %>, este é o seu painel de controle</h2>
    </div>

    <div class="five wide column">

      <div class="ui fluid vertical menu">
        <a class="active teal item" href="/usuarios/<%= usuario._id %>/dados">
          Meus dados
          <% if (usuario.cpf && usuario.cep) { %> <div class="ui basic teal label">👍</div> <% } else { %> <div class="ui basic red label">👎</div> <% } %>
        </a>
        <a class="item" href="/usuarios/<%= usuario._id %>/denuncias">
          Minhas denúncias
          <div class="ui label"><%= denuncias.length %></div>
        </a>
      </div>

      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="meta">Nome de usuário:</div>
              <p><%= usuario.username %></p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Nome completo:</div>
              <p><%= usuario.nome || '--' %></p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Endereço:</div>
              <p>
                <% if (usuario.endereco.rua !== undefined) { %>
                <%= usuario.endereco.rua %>,
                <% if (usuario.endereco.numero) { %>
                <%= usuario.endereco.numero %>,
                <% } %>
                <br>
                CEP <%= usuario.cep %>,
                <br>
                <%= usuario.endereco.bairro %>,
                <%= usuario.endereco.cidade %> - <%= usuario.endereco.estado %>
                <% } else { %>
                  --
                <%  } %>
              </p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Telefone:</div>
              <p><%= usuario.telefone || '--' %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="meta">Denúncias abertas:</div>
              <p><%= denuncias.length %> denúncias</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="eleven wide column">
      <div class="ui segment">

        <p>A fim de abrir denúncias, é necessário que você complete o seu cadastro. Estes dados são considerados necessários pelos órgãos públicos competentes e não serão visíveis a mais ninguém dentro de nossa plataforma. Todos os campos são obrigatórios a não ser que esteja expressamente especificado.</p>

        <form action="/usuarios/<%= usuario._id %>/dados" method="post" class="ui form">
          <div class="two fields">
            <div class="four wide field">
              <label>CPF</label>
              <input pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" id="cpf" type="text" name="cpf" placeholder="000.000.000-00" value="<%= usuario.cpf %>" required>
            </div>
            <div class="twelve wide field">
              <label>Nome</label>
              <input id="nome" type="text" name="nome" placeholder="Nome" value="<%= usuario.nome %>" required>
            </div>
          </div>

          <div class="three fields">
            <div class="four wide field">
              <label>CEP</label>
              <input pattern="\d{5}-?\d{3}" id="cep" type="text" name="cep" placeholder="00000-000" value="<%= usuario.cep %>" required>
            </div>
            <div class="nine wide field">
              <label>Rua</label>
              <input id="rua" type="text" name="endereco[rua]" placeholder="Nome da rua" value="<%= usuario.endereco.rua %>" required>
            </div>
            <div class="three wide field">
              <label>Número</label>
              <input type="text" name="endereco[numero]" placeholder="Número" value="<%= usuario.endereco.numero %>" required>
            </div>
          </div>

          <div class="three fields">
            <div class="seven wide field">
              <label>Bairro</label>
              <input id="bairro" type="text" name="endereco[bairro]" placeholder="Bairro" value="<%= usuario.endereco.bairro %>" required>
            </div>
            <div class="six wide field">
              <label>Cidade</label>
              <input id="cidade" type="text" name="endereco[cidade]" placeholder="Cidade" value="<%= usuario.endereco.cidade %>" required>
            </div>
            <div class="three wide field">
              <label>Estado</label>
              <input id="estado" type="text" name="endereco[estado]" placeholder="Estado" value="<%= usuario.endereco.estado %>" required>
            </div>
          </div>

          <div class="two fields">
            <div class="field">
              <label>Telefone para contato</label>
              <input type="text" name="telefone" placeholder="(00) 0000-0000" value="<%= usuario.telefone %>" required>
            </div>
            <div class="field">
              <label>E-mail (opcional)</label>
              <input type="email" name="email" placeholder="E-mail (opcional)" value="<%= usuario.email %>">
            </div>
          </div>

          <a href="/" class="ui button">Voltar</a>
          <button class="ui blue button">Alterar cadastro</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="//irql.bipbop.com.br/js/jquery.bipbop.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.12/dist/jquery.mask.min.js"></script>
<script src="js/completa.min.js"></script>

<% include ../partials/footer %>