<% include ../partials/header %>

<div class="ui main stackable container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h2 class="ui dividing header">Olá <%= usuario.username %>, este é o seu painel de controle</h2>
    </div>

    <div class="five wide column">

      <div class="ui fluid vertical menu">
        <a class="teal item" href="/usuarios/<%= usuario._id %>/dados">
          Meus dados
          <% if (usuario.cpf && usuario.cep) { %> <div class="ui basic teal label">👍</div> <% } else { %> <div class="ui basic red label">👎</div> <% } %>
        </a>
        <a class="active item" href="/usuarios/<%= usuario._id %>/denuncias">
          Minhas denúncias
          <div class="ui label"><%= denuncias.length %></div>
        </a>
      </div>

      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="meta">Nome de usuário:</div>
              <p><%= usuario.username %></p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Nome completo:</div>
              <p><%= usuario.nome || '--' %></p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Endereço:</div>
              <p>
                <% if (usuario.endereco.rua !== undefined) { %>
                <%= usuario.endereco.rua %>,
                <% if (usuario.endereco.numero) { %>
                <%= usuario.endereco.numero %>,
                <% } %>
                <br>
                CEP <%= usuario.cep %>,
                <br>
                <%= usuario.endereco.bairro %>,
                <%= usuario.endereco.cidade %> - <%= usuario.endereco.estado %>
                <% } else { %>
                  --
                <%  } %>
              </p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Telefone:</div>
              <p><%= usuario.telefone || '--' %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="meta">Denúncias abertas:</div>
              <p><%= denuncias.length %> denúncia<% if (denuncias.length !== 1) { %>s<% } %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="eleven wide column">
      <% if (denuncias.length) { %>
      <div class="ui two doubling stackable cards">
      <% denuncias.forEach(denuncia => { %>
        <a href="/denuncias/<%= denuncia._id %>" class="card">
          <% if (denuncia.imagem) { %>
          <div class="ui fluid image">
            <div class="ui blue right ribbon label">Imagem</div>
            <img src="<%= denuncia.imagem %>">
          </div>
          <% } %>
          <div class="content">
            <div class="header"><%= denuncia.titulo %></div>
            <div class="meta">
              <span><%= denuncia.denunciada.nome %></span>
            </div>
            <% if (!denuncia.imagem) { %> <div class="ui orange right ribbon label">Texto</div>
            <div class="description">
              <p> <%- denuncia.texto.substring(0,450) %> <% if (denuncia.texto.length > 450) { %>...<% } %> </p>
            </div>
            <% } else { %>
            <div class="description">
              <p> <%- denuncia.texto.substring(0,70) %> <% if (denuncia.texto.length > 70) { %>...<% } %> </p>
            </div>
            <% } %>
          </div>
          <div class="extra content">
            <span class="right floated">
              <i class="<% if (denuncia.status) { %> green check <% } else { %> warning sign <% }%> icon"></i>
            </span>
            <span class="left floated">Aberta <%= moment(denuncia.data).fromNow() %></span>
          </div>
        </a>
      <% }) %>
      </div>
      <% } else { %>
      <div class="ui icon message">
        <i class="info circle icon"></i>
        <div class="content">
          <div class="header">
            Você não possui nenhuma denúncia aberta
          </div>
          <p>Ficamos felizes por tudo estar dando certo para você!</p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<% include ../partials/footer %>