<% include ../partials/header %>

<div class="ui main container">
  <div class="ui column">
    <h2 class="ui dividing header">Alterar dados de denúncia</h2>

    <form action="/denuncias/<%= denuncia._id %>?_method=PUT" method="post" class="ui form">
      <div class="field">
        <div class="inline fields">
          <label for="fruit">Selecione o tipo de denúncia:</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="serv" type="radio" value="serviço" class="hidden" name="tipo" required checked>
              <label for="serv">Sobre um serviço</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="prod" type="radio" value="produto" class="hidden" name="tipo" <% if (denuncia.produto !== '') { %> checked <% } %>>
              <label for="prod">Sobre um produto</label>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Título</label>
        <input type="text" name="titulo" placeholder="Título" value="<%= denuncia.titulo %>" required>
      </div>
      <div class="field">
        <label>Instituição responsável</label>
        <select name="denunciada" class="ui search dropdown">
          <% denunciadas.forEach(denunciada => { %>
          <option <% if (denuncia.denunciada.id.equals(denunciada.id)) { %> selected <% } %> value="<%= denunciada.nome %>"><%= denunciada.nome %></option>
          <% }) %>
        </select>
      </div>
      <div class="field prod" <% if (denuncia.produto === '') { %> style="display:none" <% } %>>
        <label>Nome do produto</label>
        <input type="text" name="produto" placeholder="Nome do produto" value="<%= denuncia.produto %>">
      </div>
      <div class="field">
        <label>Descrição</label>
        <textarea name="texto" placeholder="Descrição" required><%= denuncia.texto %></textarea>
      </div>
      <a href="/" class="ui button">Voltar</a>
      <button class="ui blue button">Editar denúncia</button>
    </form>
  </div>
</div>

<script>
  $(function () {
    $('[name="tipo"]').on('change', function () {
      $('.prod').toggle().find('input').val('')
    })
    $('.ui.search.dropdown').dropdown({ allowAdditions: true })
  })
</script>

<% include ../partials/footer %>