<% include ../partials/header %>

<div class="ui main container">
  <div class="ui segment column">
    <h2 class="ui dividing header">Abertura de denúncia</h2>

    <form action="/denuncias" method="post" enctype="multipart/form-data" class="ui form">
      <div class="field">
        <div class="inline fields">
          <label for="fruit">Selecione o tipo de denúncia:</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="serv" type="radio" value="serviço" class="hidden" name="tipo" required checked>
              <label for="serv">Sobre um serviço</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="prod" type="radio" value="produto" class="hidden" name="tipo">
              <label for="prod">Sobre um produto</label>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Título</label>
        <input type="text" name="titulo" placeholder="Título" required>
      </div>
      <div class="field">
        <label>Empresa ou instituição denunciada</label>
        <select name="denunciada" class="ui search dropdown">
          <option value="">Denunciado (a)</option>
          <% denunciadas.forEach(denunciada => { %>
          <option value="<%= denunciada.nome %>"><%= denunciada.nome %></option>
          <% }) %>
        </select>
      </div>
      <div class="field prod" style="display:none">
        <label>Nome do produto</label>
        <input type="text" name="produto" placeholder="Nome do produto">
      </div>

      <div class="field">
        <label>Adicionar imagem</label>
        <input type="hidden" id="trueimage" name="image">
        <input type="file" id="image" accept="image/*">
        <img id="preview">
      </div>

      <div class="field">
        <label>Descrição</label>
        <textarea name="texto" placeholder="Descrição" required></textarea>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="anonimo" name="anonimo" type="checkbox" class="hidden">
          <label for="anonimo">Esta é uma denúncia anônima</label>
        </div>
      </div>
      <a href="/" class="ui button">Voltar</a>
      <button class="ui green button">Abrir denúncia</button>
    </form>
  </div>
</div>

<script>
  $(function () {
    $('[name="tipo"]').on('change', function () {
      $('.prod').toggle().find('input').val('')
    })
    $('.ui.search.dropdown').dropdown({ allowAdditions: true })
  })

  function uploadFile(file, signedRequest, url) {
    const xhr = new XMLHttpRequest()
    xhr.open('PUT', signedRequest)
    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          document.getElementById('preview').src = url
          document.getElementById('trueimage').value = url
        }
        else {
          alert('Could not upload file.')
        }
      }
    }
    xhr.send(file)
  }

  function getSignedRequest(file) {
    const xhr = new XMLHttpRequest()
    xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`)
    xhr.setRequestHeader('content-type', file.type)
    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          const response = JSON.parse(xhr.responseText)
          uploadFile(file, response.signedRequest, response.url)
        }
        else {
          alert('Could not get signed URL.')
        }
      }
    }
    xhr.send()
  }

  (() => {
    document.getElementById('image').onchange = () => {
      const files = document.getElementById('image').files
      const file = files[0]
      if (file == null) {
        return alert('No file selected.')
      }
      getSignedRequest(file)
    }
  })()
</script>

<% include ../partials/footer %>