<% include ../partials/header %>

<div class="ui main stackable container">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h2 class="ui dividing header">Detalhes da denúncia</h2>
    </div>

    <div class="five wide column">
      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="meta">Reclamada:</div>
              <p><%= denuncia.denunciada.nome %></p>
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="meta">Motivo:</div>
              <p>Por um <%= denuncia.tipo %></p>
            </div>
          </div>

          <% if (denuncia.produto !== '') { %>
          <div class="item">
            <div class="content">
              <div class="meta">Nome do produto:</div>
              <p><%= denuncia.produto %></p>
            </div>
          </div>
          <% } %>

          <div class="item">
            <div class="content">
              <div class="meta">Status:</div>
              <% if (denuncia.status) { %>
              <i class="green check icon"></i> Verificada
              <% } else { %>
              <i class="orange hourglass half icon"></i> Aguardando confirmação de recebimento
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% if (user && (!!denuncia.autor.username && denuncia.autor.id.equals(user._id) || user.isAdmin)) { %>
      <form action="denuncias/<%= denuncia._id %>?_method=DELETE" method="post">
        <div class="ui fluid small buttons">
          <a href="denuncias/<%= denuncia._id %>/edit" class="ui blue button">Editar</a>
          <button class="ui red button">Excluir</button>
        </div>
      </form>
      <% } %>
    </div>

    <div class="eleven wide column">
      <div class="ui fluid card">
        <div class="content">
          <div class="right floated meta"><%= moment(denuncia.data).fromNow() %></div>
          <span class="meta"><i class="user icon"></i> <% if (!!denuncia.autor.username) { %> <%= denuncia.autor.username %> <% } else { %> Anônimo <% } %></span>
        </div>
        <% if (denuncia.imagem) { %>
        <div class="ui fluid image">
          <div class="ui blue right ribbon label">Imagem</div>
          <img src="<%= denuncia.imagem %>">
        </div>
        <% } %>
        <div class="content">
          <div class="header"><%= denuncia.titulo %></div>
          <div class="meta">Protocolo <%= moment(denuncia.data).format('YYWWHHmmSSS') %></div>
          <br>
          <p><%- denuncia.texto %></p>
        </div>
        <div class="extra content">
          <form action="/denuncias/<%= denuncia._id %>/comentarios" method="post">
            <div class="ui large fluid transparent left icon input">
              <i class="comment outline icon"></i>
              <input name="texto" placeholder="Adicionar comentário..." type="text">
            </div>
          </form>
        </div>

        <% if (denuncia.comentarios.length) { %>
        <div class="ui bottom attached segment">
          <div class="ui comments">
            <% denuncia.comentarios.forEach(comentario => { %>
            <div class="comment">
              <div class="content">
                <span class="author">
                <%= comentario.autor.username %>
                </span>
                <div class="metadata">
                  <span><%= moment(comentario.data).fromNow() %></span>
                </div>
                <% if (user && (comentario.autor.id.equals(user._id) || user.isAdmin)) { %>
                <div class="metadata">
                  <form action="/denuncias/<%= denuncia._id %>/comentarios/<%= comentario._id %>?_method=DELETE" method="post">
                    <button class="ui mini icon basic link button"><i class="icon trash"></i> Excluir</button>
                  </form>
                </div>
                <% } %>
                <div class="text">
                  <%= comentario.texto %>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <% } %>
      </div>


    </div>
  </div>
</div>

<% include ../partials/footer %>